<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/logo-color.png}">
    <link rel="stylesheet" th:href="@{/css/place.css}">
    <script th:src="@{'https://api-maps.yandex.ru/2.1/?apikey='+${@environment.getProperty('yandex.maps.api.key')}+'&lang=ru_RU'}" type="text/javascript"></script>
    <script th:src="@{/js/maps.js}"></script>
    <title th:text="${place} ? ${place.name} : 'Место не найдено'"/>
</head>
<body>
<header>
    <a th:href="@{/}" class="header-logo-link">
        <img th:src="@{/img/logo-white.png}" class="header-logo" alt="Logo">
        Места
    </a>
</header>
<main th:if="${place}">
    <h1 class="title" th:text="${place.name}"/>
    <h2 class="subtitle" th:text="${place.address}"/>
    <div class="place-content">
        <div class="place-map-content">
            <div class="place-map"></div>
        </div>
        <div class="place-info-content">
            <div class="weather-info">
                <p class="content-subtitle">
                    <img th:src="${weather.getIconUrl()}" alt="" height="70px"/>
                    <span th:text="${weather.getDesc()}"/>
                </p>
                <p class="content-subtitle" th:if="${weather.getTemperature()}" th:text="${'Температура: ' + weather.getTemperature() + '°'}"/>
                <p class="content-subtitle" th:if="${weather.getFeelsLikeTemperature()}" th:text="${'Ощущается: ' + weather.getFeelsLikeTemperature() + '°'}"/>
                <p class="content-subtitle" th:if="${weather.getWindDirection() != null && weather.getWindSpeed() != null}" th:text="${'Ветер: ' + weather.getWindDirection() + ' ' + weather.getWindSpeed() + ' м/с'}"/>
                <p class="content-subtitle" th:if="${weather.getPressure()}" th:text="${'Давление: ' + weather.getPressure() + ' мм. рт. ст.'}"/>
                <p class="content-subtitle" th:if="${weather.getHumidity()}" th:text="${'Влажность: ' + weather.getHumidity() + '%'}"/>
            </div>
        </div>
    </div>
</main>
<main th:unless="${place}">
    <h1 class="title">Место не найдено</h1>
</main>
<footer th:style="${place == null}? 'position: absolute; bottom: 0;'">
    <div class="footer-content">
        <div class="social-icons">
            <a href="https://github.com/ptrvsrg" target="_blank">
                <img th:src="@{/img/github.png}" alt="GitHub">
            </a>
            <a href="https://t.me/ptrvsrg" target="_blank">
                <img th:src="@{/img/telegram.png}" alt="Telegram">
            </a>
            <a href="https://vk.com/ptrvsrg" target="_blank">
                <img th:src="@{/img/vk.png}" alt="VK">
            </a>
        </div>
        <p>© 2023 ptrvsrg. Все права защищены.</p>
    </div>
</footer>
<script th:if="${place}" th:inline="javascript">
    const mapContainer = document.querySelector('.place-map');
    const place = /*[[${place}]]*/ '';
    const places_nearby = /*[[${places_nearby}]]*/ '';

    ymaps.ready(function () {
        const myMap = createPlaceMap(mapContainer, place);
        addPlacesNearby(myMap, places_nearby);
    });
</script>
</body>
</html>